.DS_Store


# Ignore configuration files that may contain sensitive information
*/html/sites/*/*settings*.php
*/html/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
*/html/sites/*/files
*/html/sites/*/public
*/html/sites/*/private
*/html/sites/*/files-public
*/html/sites/*/files-private

# Ignore paths that may contain temporary files
*/html/sites/*/translations
*/html/sites/*/tmp
*/html/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
çvendor
*/html/core
*/html/modules/README.txt
*/html/profiles/README.txt
*/html/sites/development.services.yml
*/html/sites/example.settings.local.php
*/html/sites/example.sites.php
*/html/sites/README.txt
*/html/themes/README.txt
*/html/.csslintrc
*/html/.editorconfig
*/html/.eslintignore
*/html/.eslintrc.json
*/html/.gitattributes
*/html/.htaccess
*/html/.ht.router.php
*/html/autoload.php
*/html/composer.json
*/html/composer.lock
*/html/example.gitignore
*/html/index.php
*/html/INSTALL.txt
*/html/LICENSE.txt
*/html/README.txt
*/html/robots.txt
*/html/update.php
*/html/web.config

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
/.editorconfig
/.gitattributes

cemeteries/.editorconfig
cemeteries/.gitattributes
cemeteries/html/README.md
cemeteries/html/libraries/
cemeteries/html/modules/
cemeteries/html/themes/
cemeteries/vendor/
db_modified.sql.gz
html/core/
html/modules/
html/profiles/
html/sites/default/files/ahc/
html/sites/default/files/css/
html/sites/default/files/feeds/
html/sites/default/files/js/
html/sites/default/files/php/
html/sites/default/files/sync2/
html/sites/default/settings.ddev.php
html/sites/default/settings.php
html/themes/
scripts/dump.sh
